* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  color: wheat;
  border: 1px solid skyblue;
  border-radius: 4px;
  background-color: steelblue;
}


.error-message {
  color: red;
  font-size: 12px;
  height: 16px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 20px;
}
